@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
/* Custom shadow only at top and bottom */
.circle-shadow {
  box-shadow:
    0 -10px 15px -6px rgba(0, 0, 0, 0.25),
    0 10px 15px -6px rgba(0, 0, 0, 0.25);
}
