@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
.circle-shadow {
  position: relative;
  aspect-ratio: 1 / 1; /* Ensures perfect circle */
  background: white;
  border-radius: 50%;
  overflow: visible;
}

/* Create top and bottom shadows only */
.circle-shadow::before,
.circle-shadow::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 70%;
  height: 14%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  filter: blur(50px);
  transform: translateX(-50%);
}

/* Top shadow */
.circle-shadow::before {
  top: -100%;
}

/* Bottom shadow */
.circle-shadow::after {
  bottom: -100%;
}

.new-font {
  font-family: "Montserrat", sans-serif;
}

.rounded-b {
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.rounded-t {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}
@media (min-width: 320px) and (max-width: 768px) {
  .rounded-b {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .rounded-t {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}
